<div class="all-orders mt-5">
  <h2 class="mb-5">All Orders</h2>
  <button class="btn btn-primary mb-3">Add Order</button>
  <div class="orders">
    <div
      class="order-card"
      *ngFor="let order of orders"
      
    >
      <div class="order-card-head">
        <p>ID : {{ order.UserId }}</p>
        <p>Date : {{ order.OrderDate | date : "YYYY-mm-dd" }}</p>
      </div>
      <div class="order-card-body">
        <div class="products" *ngFor="let product of order.Products">
          <p>ProductId : {{ product.ProductId }}</p>
          <p>Quantity : {{ product.Quantity }}</p>
        </div>
      </div>
      <p class="pay">Payment Type : {{ order.PaymentType }}</p>
      <button (click)="getorderId(order)" class="btn btn-info"><i class="fa-regular fa-eye"></i> Show Order</button>
    </div>
  </div>
</div>

<div class="popup">
  <div class="overlay">
    <div class="form">
      <label for="">111</label>
      <input type="text">

<div class="mt-2">
  <button class="btn btn-success me-2">Save</button>
  <button class="btn btn-danger">cancle</button>
</div>
    </div>
  </div>
</div>
