.all-orders {
  .orders {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 20px;
    .order-card {
      padding: 20px;
      border-radius: 10px;
      // border: 1px solid #000;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      margin-bottom: 10px;
      .order-card-head {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .order-card-body {
        .products {
          padding: 20px;
          border: 1px solid #000;
          border-radius: 5px;
          margin-bottom: 10px;
        }
      }
      .pay {
        color: green;
      }
    }
  }
}


.popup{
  background-color: rgba(0, 0, 0, 0.425);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  .overlay{
    width: 400px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    .form{
      label{
        display: block;
        margin-bottom: 5px;

      }
      input,select{
        border-radius: 5px;
        width: 100%;
        padding: 10px;
        border: 1px solid #e2e2e2;
        margin-bottom: 10px;
      }
    }
  }
}

@media(max-width:500px){
  .all-orders {
    .orders {
      grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    }
  }


  .popup{
    .overlay{
      width: 100%;
      margin: 0 10px;
    }
  }
}