<div class="all-orders mt-5">
    <h2 class="mb-5">Order By Id</h2>
    <div class="orders">
      <div
        class="order-card"
        
      >
        <div class="order-card-head">
          <!-- <p>ID : {{ order.UserId }}</p> -->
          <p>Date : {{ order.OrderDate | date : "YYYY-mm-dd" }}</p>
        </div>
        <div class="order-card-body">
          <div class="products" *ngFor="let product of order.Products">
            <p>ProductId : {{ product.ProductId }}</p>
            <p>Quantity : {{ product.Quantity }}</p>
          </div>
        </div>
        <p class="pay">Payment Type : {{ order.PaymentType }}</p>
        <button class="btn btn-info" routerLink="/orders"><i class="fa-solid fa-arrow-left"></i> Back to Orders</button>
      </div>
    </div>
  </div>
  

 